<div class="container">
  <h1><%=@user.name%>'s Following Users</h1>
  <% if @user.following.count == 0 %>
    <p>No following users</p>
  <% else %>
    <%= render 'index', users: @users, set_relationship: @set_relationship, relationships: @relationships %>
  <% end %>
</div>