<div class="container">
  <h1><%=@user.name%>'s Follower Users</h1>
  <% if @user.followers.count == 0 %>
    <p>No follower users</p>
  <% else %>
    <%= render 'index',users: @user.followers, set_relationship: @set_relationship, relationships: @relationships %>
  <% end %>
</div>